.main-container {
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    margin-top: 0;
}

.content {
    flex: 1;
    padding: 2em;
    background-color: #f5f5f5;
}

.productsSection {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    flex-wrap: wrap;
}

.productCard {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 1em;
    margin: 1em;
    width: 200px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    justify-content: center;
    display: flex;
    text-align: center;
    align-items: center;
    flex-direction: column;
    cursor: pointer;
}

img {
    width: 10em;
    height: 10em;
    border-radius: 8px;
}