body {
    color: var(--color-primary);
    width: 100%;
    margin: 0;
}

.navbar {
    background-color: var(--bg-primary);
    display: flex;
    justify-content: space-between;
    padding: 0 1em;
    
    .h1 {
        color: var(--color-primary);
    }

    .rightSection {
        display: flex;
        justify-content: end;
    }

    button {
        color: var(--color-secondary);
        background: transparent;
        width: 5em;
        height: 5em;
        font-size: 1.2em;
        word-wrap: break-word;
        border: none;
        cursor: pointer;
    }

    img {
        width: 5em;
        height: 5em;
    }
}
