name: Backend CI - FitFashion (Products)

on:
  push:
    branches: [ "main", "master" ]
  pull_request:
    branches: [ "main", "master" ]

jobs:
  build-and-test:
    runs-on: ubuntu-latest

    defaults:
      run:
        working-directory: ./ms_products

    strategy:
      matrix:
        node-version: [18.x]

    steps:
    - name: Checkout code
      uses: actions/checkout@v4

    - name: Use Node.js ${{ matrix.node-version }}
      uses: actions/setup-node@v4
      with:
        node-version: ${{ matrix.node-version }}
        cache: 'npm'
        cache-dependency-path: ./ms_products/package-lock.json

    - name: Install dependencies
      run: npm ci

    - name: Build
      run: npm run build --if-present


    - name: Run Tests with Coverage
      run: npm run test:cov

    - name: Upload Coverage Report
      uses: actions/upload-artifact@v4
      if: always() 
      with:
        name: coverage-report
        path: ./ms_products/coverage/ 
        retention-days: 30