name: Django CI

on:
  push:
    branches: [ "main", "master" ]
  pull_request:
    branches: [ "main", "master" ]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout del código
      uses: actions/checkout@v4

    - name: Configurar Python
      uses: actions/setup-python@v4
      with:
        python-version: '3.11'

    - name: Instalar dependencias
      run: |
        python -m pip install --upgrade pip
        pip install coverage  # Instalamos coverage también aquí
        if [ -f requirements.txt ]; then pip install -r requirements.txt; fi

    - name: Correr Tests y Coverage
      env:
        # Variables de entorno para que Django no falle al iniciar
        SECRET_KEY: 'django-insecure-test-key-para-ci'
        DEBUG: 'True'
        # Si usas Postgres, aquí van las credenciales del servicio de arriba
        # DB_ENGINE: 'django.db.backends.postgresql'
      run: |
        # Corremos los tests y mostramos el reporte en la consola de GitHub
        coverage run --source='users' manage.py test users
        coverage report
